<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="secondary" defaultHref="/estante"></ion-back-button>
    </ion-buttons>

    <ion-searchbar
      color="primary"
      placeholder="Pesquisar livros..."
      debounce="500"
      (ionChange)="onSearch($event)"
      >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="background">
  @if (books.length === 0 && !carregando) {
    <div class="ion-text-center ion-padding">
      <h2>Pesquise por um livro!</h2>
    </div>
  }

  @if (carregando) {
    <div class="ion-text-center ion-padding">
      <h2>Procurando livros...</h2>
    </div>
  }

  @if (books.length > 0 && !carregando) {
    <ion-list>
      @for (item of books; track item.id) {
        <ion-item class="ion-margin-bottom" color="card-background" lines="none">

          <ion-thumbnail slot="start">
            <img [src]="item.volumeInfo.imageLinks?.thumbnail" [alt]="item.volumeInfo.title" />
          </ion-thumbnail>

          <ion-label>
            <h2>{{ item.volumeInfo.title }}</h2>
            <p>{{ item.volumeInfo.authors ? item.volumeInfo.authors[0] : 'Autor Desconhecido' }}</p>
          </ion-label>

          <ion-button slot="end" fill="clear" color="secondary" (click)="addOnList(item)">
            <ion-icon slot="icon-only" name="add-circle-outline" size="large"></ion-icon>
          </ion-button>

        </ion-item>
      }
    </ion-list>
  }
</ion-content>
