// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #2c3e50;
	--ion-color-primary-rgb: 44,62,80;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #273746;
	--ion-color-primary-tint: #415162;

  --ion-color-secondary: #E67E22;
	--ion-color-secondary-rgb: 230,126,34;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #ca6f1e;
	--ion-color-secondary-tint: #e98b38;

	--ion-color-background: #f8f9fa;
	--ion-color-background-rgb: 248,249,250;
	--ion-color-background-contrast: #000000;
	--ion-color-background-contrast-rgb: 0,0,0;
	--ion-color-background-shade: #dadbdc;
	--ion-color-background-tint: #f9fafb;
}

.ion-color-primary {
	--ion-color-base: var(--ion-color-primary);
	--ion-color-base-rgb: var(--ion-color-primary-rgb);
	--ion-color-contrast: var(--ion-color-primary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
	--ion-color-shade: var(--ion-color-primary-shade);
	--ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-secondary {
	--ion-color-base: var(--ion-color-secondary);
	--ion-color-base-rgb: var(--ion-color-secondary-rgb);
	--ion-color-contrast: var(--ion-color-secondary-contrast);
	--ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
	--ion-color-shade: var(--ion-color-secondary-shade);
	--ion-color-tint: var(--ion-color-secondary-tint);
}

.ion-color-background {
	--ion-color-base: var(--ion-color-background);
	--ion-color-base-rgb: var(--ion-color-background-rgb);
	--ion-color-contrast: var(--ion-color-background-contrast);
	--ion-color-contrast-rgb: var(--ion-color-background-contrast-rgb);
	--ion-color-shade: var(--ion-color-background-shade);
	--ion-color-tint: var(--ion-color-background-tint);
}
