ion-toolbar div {
  display: flex;
  justify-content: space-between;

  ion-button {
    margin-right: 10px;
  }
}

ion-content div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h2 {
  font-weight: bold;
}
