ion-toolbar div {
  display: flex;
  justify-content: space-between;

  ion-button {
    margin-right: 10px;
  }
}

ion-content div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h2 {
  font-weight: bold;
}

ion-card {
  display: flex;
  padding-left: 16px;

  ion-img {
    width: 20%;
  }

  div {
    align-items: start;
    flex-direction: column;

    ion-card-content {
      padding: 0 0 16px 16px;
    }
  }
}
